# Build files and dependencies (Spring Boot)
back/target/
back/bin/
back/.mvn/wrapper/target/
back/.classpath
back/.project
back/.settings/
back/*.iml
back/*.ipr
back/*.iws

# Build files and dependencies (Angular)
front/node_modules/
front/dist/
front/package-lock.json

# Local configuration files
.env
*.log
*.swp
*.swo
.DS_Store

# Docker files
.dockerignore
docker-compose.override.yml

# IDE specific files (IntelliJ IDEA, Eclipse, VS Code, etc.)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Database folder
db/data/